{% extends '::base.html.twig' %}

{% block body -%}
	<div class="main">
        <div class="main__scroll scrollbar-macosx">
            <div class="main__cont">
                <div class="main-heading">
                    <ol class="breadcrumb">
                    	 <li><a href="{{ path('contactos') }}">Contactos</a></li>
                        <li class="active">Contacto Nueva</li>
                    </ol>
                </div>

                <div class="container-fluid half-padding">
                	<div class="template template__controls">
                		<div class="row">
                			<div class="panel panel-danger">
                				<div class="panel-heading">
                          			<h3 class="panel-title">Contacto</h3>
                        		</div>
                        		<div class="panel-body">
                          			<div class="form-horizontal">
                          				{{ form_start(form) }}
	                            			<div class="form-group">
	                              				<label class="col-sm-2 control-label">Nombre</label>
	                              				<div class="col-sm-4">
	                              					{{ form_widget(form.nombre,{'attr': {'class':'form-control'},'required':'true'}) }}
	                              				</div>
	                            			</div>
	                            			<div class="form-group">
	                              				<label class="col-sm-2 control-label">Apellido Paterno</label>
	                              				<div class="col-sm-4">
	                              					{{ form_widget(form.apePat,{'attr': {'class':'form-control'},'required':'true'}) }}
	                              				</div>
	                            			</div>
	                            			<div class="form-group">
	                              				<label class="col-sm-2 control-label">Correo</label>
	                              				<div class="col-sm-4">
	                              					{{ form_widget(form.correo,{'attr': {'class':'form-control'},'required':'true'}) }}
	                              				</div>
	                            			</div>
	                            			<div class="form-group">
	                              				<label class="col-sm-2 control-label">Compania</label>
	                              				<div class="col-sm-4">
	                              					{{ form_widget(form.compania,{'attr': {'class':'form-control'},'required':'true'}) }}
	                              				</div>
	                            			</div>
                            			{{ form_widget(form._token) }}
                            				<div class="form-group">
	                              				<div class="col-sm-8 col-sm-offset-3">
	                              					<button class="btn btn-success" type="submit" id="sendform">Crear</button>
	                              				</div>
	                            			</div>
    								</div>
    							</div>	
    						</div>
    					</div>
    				</div>
    			</div>


            </div>
        </div>
    </div>

{% endblock %}
